*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: azure;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}
.game{
    text-align: center;
    margin: 100px 0;
    color: green;
}
.buttons{
    text-align: center;
    margin-bottom: 50px;
}
.game-btn{
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    background: aquamarine;
    font-size: large;
    font-weight: bold;
    color: darkgreen;
}
.game-btn:hover{
    background: darkgreen;
    color: yellow;
}
.result{
    display: inline-block;
    font-size: xxx-large;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}
.rock{
    text-align: center;
}
.rock-title{
    text-align: center;
    margin-bottom: 15px;
    color: darkgreen;
}
.rock-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.rock-btn{
    padding: 10px 30px;
    width: 150px;
    height: 40px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    background: limegreen;
    color: yellow;
    font-weight: bold;
}
.rock-btn:hover{
    background: darkgreen;
}
.rock-btn:last-child{
    margin-right: 0;
}
.rock-box{
    height: calc(100vh - 350px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: green;
    margin-bottom: 10px;
    font-size: x-large;
    color: bisque;
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.clean-btn{
    padding: 10px 30px;
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background: crimson;
    color: yellow;
    font-weight: bold;
}
.clean-btn:hover{
    background: darkgreen;
}
/*------------------------------------------------------------------------------------------------------*/
.guess{
    padding: 100px 0 0;
    text-align: center;
}
.lives{
    display: inline-block;
    margin-bottom: 30px;
    font-size: x-large;
    color: red;
}
.won-lost{
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}

.guess-input{
    width: 100px;
    height: 100px;
    font-size: xx-large;
    border: none;
    border-radius: 50%;
    text-align: center;
    margin: 0 50px 50px 0;
    background: bisque;
}

.guess-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 50px;
}
.guess-btn:hover{
    padding: 10px 20px;
    background: aquamarine;
    border: none;
    border-radius: 4px;
    color: darkgreen;
    font-weight: bold;
}
.guess-checkbox{
    margin-right: 10px;
}
.guess-help-text{
color: crimson;
}
.clear-all{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: crimson;
    color: yellow;
    font-weight: bold;
}